:root {
    --body-background-light: #fff;
    --body-background-light-color: #000;
    --default-button-color: royalblue;
    --left-bar-background: #8FA7C3;
    --left-bar-blocks-background: #9ab7d9;
    --left-bar-buttons-border: #bcdbff;
}